@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --bg: #020202;
  --text: #f5f5f5;

  --h1: clamp(1.5rem, 5vw, 30px);
  --p: 12px;
  --icon-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid tomato;*/
  font-family: "JetBrains Mono", monospace;
}

p {
  font-size: var(--p);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #f5f5f5;
    --text: #020202;
    }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-right: 1px solid #2b2b2b;
  background-color: var(--text);
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.5s ease,
    transform 1s ease;
  color: var(--bg);
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}

header.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header .brand {
  font-size: 16px;
  font-weight: bold;
}

.header .nav-list a {
  color: var(--bg);
  font-size: 14px;
}

/* ----- nav hover effect
.header .nav-list a:hover {
    color: #f5f5f5;
    background-color: #28282b;
    border-radius: 10px;
    padding: 5px 10px;
}
*/

.header .nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.scroll-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c1 {
  color: var(--text);
  background-color: var(--bg);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c1 .icon-grid {
  display: flex;
  font-size: var(--icon-size);
  color: var(--text);
  margin-bottom: 0.3em;
  gap: 1.5rem;
}

.c1 h1 {
  font-size: var(--h1);
  opacity: 0.9;
}

.c2 {
  text-align: center;
  padding-left: 0;
  transition: padding-left 1s ease;
  background-color: var(--text);
}

.c2 .c2-inner {
  max-width: 672px;
  padding: 0 10px;
}

.c2 .profile {
  color: var(--bg);
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  margin-top: 8vh;
}

.c2 .profile .profile-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.c2 .profile .profile-header h1 {
  font-size: var(--h1);
  opacity: 0.9;
}

.c2 .profile .profile-header .skill-name {
  font-size: calc(var(--p) * 0.75);
  opacity: 0.5;
  text-transform: uppercase;
  padding-left: 5px;
}

.c2 .profile .profile-header p {
  font-size: var(--p);
  opacity: 0.8;
  line-height: 2;
  text-align: justify;
}

.profile-header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.profile-header ul li a {
  color: var(--bg);
  font-size: var(--p);
  opacity: 0.8;
  transition: opacity, color 0.3s ease;
}

.fi-bs-arrow-up-right {
  color: var(--bg);
  font-size: 9px;
  opacity: 0.8;
  display: inline-block;
  padding-left: 5px;
  transform: translate(0, 0);
  transition: all 0.3s ease;
}

.profile-header ul li .social:hover {
  color: darkviolet;
  opacity: 1;
}

.profile-header ul li .git:hover .github {
  color: darkviolet;
  opacity: 1;
  transform: translate(3px, -3px);
}

.profile-header ul li .tik:hover .tiktok {
  color: darkviolet;
  opacity: 1;
  transform: translate(3px, -3px);
}

.profile-header ul li .ig:hover .insta {
  color: darkviolet;
  opacity: 1;
  transform: translate(3px, -3px);
}



.c2 .profile .profile-picture {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  filter: grayscale(100%) contrast(150%) brightness(98%);
}

.c2 .profile .image-wrapper {
  position: relative;
  width: auto;
  height: 256px;
  margin-bottom: 4vh;
  align-self: center;
}

.c2 .profile .image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: screen;
  background-color: black;
  background-image: radial-gradient(rgb(255 255 255 / 0.4) 1px, transparent 1.5px);
  background-size: 10px 10px;
  mask-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0));
}

/* Media Queries ------------ */
@media (min-width: 40rem) {
  .c2 .profile {
    flex-direction: row;
    gap: 2.5rem;
  }

  .c2 .profile .image-wrapper {
    height: 288px;
  }
}

@media (min-width: 48rem) {
  
}

@media (min-width: 64rem) {
  .header {
    padding-top: 20px;
    right: 80vw;
    height: 100vh;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .header.show {
    transform: translateX(0);
  }

  .header .nav-list {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .c2.padding-left {
    padding-left: 20vw;
  }
}

@media (min-width: 80rem) {
  .c2 .c2-inner {
  max-width: 672px;
}
}

@media (min-width: 90rem) {
}

/*
@media (max-width: 768px) {
    .snap-section {
        min-height: 100vh;
    }
    
    .c1, .c2 {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .snap-section {
        height: 100vh;
    }
}
    */
